.parent-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.button-css{
        width: 100px;
    height: 30px;
    background-color: blue;
    color: white;

}
input{
        width: 500px;
    border: none;
    border-bottom: 1px solid;
    margin: 20px 0px;
    width: 350px;
        color: blue;
}
.text-center{
    text-align: center;
}
.form-group{
        display: flex;
    align-items: center;
    width: 500px;
    justify-content: space-between;
}
label{
    font-weight: bold;
}